##############################################################################
##
##  ~/.aliases
##  zsh and bash read this
##
##############################################################################


# faster navigation:
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'
alias -- -='cd -'

# pushd and popd
alias pu='pushd'
alias po='popd'

# disk usage with human sizes and minimal depth
alias du1='du -h --max-depth=1'

alias fnd='find . -name'

# Mimic vim
alias :q='exit'
alias :qa='exit'

alias v='vim'

# make directory and non existing parent-dors
alias md='mkdir -p'
alias rd='rmdir'


## source aliases_osx
if [ -f ~/.aliases_osx ]; then
    source ~/.aliases_osx
fi