##############################################################################
##
##  ~/.aliases
##  zsh and bash read this
##
##############################################################################


# faster navigation:
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'
alias -- -='cd -'

## better directoy listing:
alias sl='ls'
alias ll='ls -l'
alias la='ls -la'
alias lh='ls -lh'
alias lah='ls -lah'
# List only directories
alias lsd='ls -l | grep "^d"'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	alias ls='ls --color'
else # BSD (OS X default) `ls`
	alias ls='ls -G'
fi

# pushd and popd
alias pu='pushd'
alias po='popd'

# disk usage with human sizes and minimal depth
alias du1='du -h --max-depth=1'

alias fnd='find . -name'

# Mimic vim
alias :q='exit'
alias :qa='exit'

alias v='vim'

# make directory and non existing parent-dors
alias md='mkdir -p'
alias rd='rmdir'

# beautiful tree
alias tr="tree -a -I '*git"


## source aliases_osx
if [ -f ~/.aliases_osx ]; then
    source ~/.aliases_osx
fi